

.cabecalho-moda{
    background-color:#BB86FC;    
}

.produto-moda-camiseta{          
    background-color:#424250;   
    color: aliceblue;
}
.produto-moda-tenis{
    background-color: #424250;
    color:aliceblue;
     
}
.cabecalho-casa{
    background-color:#00C4B4;
}
 
.produto-casa-sofa{
    background-color:#424250;   
    color: aliceblue;
}
.produto-casa-televisao{
    background-color:#424250;   
    color: aliceblue;
}